.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.title img {
  padding-left: 20px;
  max-height: 110px; /* Adjust based on your desired logo size */
  width: auto;
}

.naviga {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}

.naviga ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.naviga ul li {
  margin: 0 15px;
}

.naviga ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #b16f23;
}

.ricons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}

.fa {
  display: flex;
  align-items: center;
  position: relative;
}

#ci {
  margin-right: 15px;
}

.search-input {
  position: fixed;
  top: 120px; /* Adjust based on header height */
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  margin-top: 10px;
  padding: 5px;
  width: 80%;
  max-width: 500px;
  border: 1px solid #b16f23;
  border-radius: 5px;
  background-color: white; /* Ensure it's visible on any background */
  z-index: 1000; /* Ensure it appears above other content */
}

.cart-count {
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border: 1px solid #b16f23;
  border-radius: 50%;
  text-decoration: none;
  color: white;
  background-color: #b16f23;
  position: absolute;
  top: -10px;
  right: -10px;
}

.show-search .naviga {
  opacity: 0;
  pointer-events: none; /* Prevent interaction when hidden */
} 


.whatsapp_float {
  position: fixed;
  bottom: 40px;
  right: 20px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  cursor: pointer;
  text-decoration: none;
}

.whatsapp_float:hover {
  background-color: #128c7e;
}


.search-section-container .container{
  display: inline !important;
  padding: unset;
}


.form-search button{
  margin-top: 0;
  width: 100%;
  max-width: 150px;
}
.form-search input{
  width: 100%;
  max-width : 355px;
  margin-right: 20px;
  margin-bottom: 0px;

}
.form-search{
  padding: 20px;
  display: flex;
  align-items: center; /* Align items vertically */
  flex-direction: row;
  justify-content: center;
}





@media only screen and (max-width: 600px) {

  .head{
    AnchorTemporaryDrawer{
      margin-left: -20px;
    }
  }

  .title img{
    padding-left: 0;
  }

  .naviga {
    display: none;
  }

  .ricons{
    padding-right: 10px;
  }
}
