.par{
    height: 240px;
   background-color: #b16f23;
   color: #d6dfb7;


   .top{
   
    display: flex;
    justify-content: space-around;
     

    input{
        margin-top: 20px;
        width: 400px;
        height: 40px;
        border: 3px solid #d6dfb7;
        border-radius: 10px;
        background-color: #ceaa82;
        
    }
    input:hover{
        border: 3px solid #d6dfb7;

    }
    .left{
        flex: 0.5;
        padding-left: 50px;
       
    }
    .right{
        padding-top: 80px;
        display: flex;
        justify-content: space-around;
        flex: 0.3;
        font-size: 28px;
    }
    
   }


   .line{
    margin-top: 30px;
    border-bottom: 2px solid #dfeabc;
   }

   .text{
    display: flex;
    padding: 40px;
    font-size: 12px;
    ul{
        color: #d6dfb7;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        li{
        margin-right: 30px;
        }
    }
   }
}

@media only screen and (max-width: 600px) {
    .par {
        height: auto;
    }

    .top {
        display: flex;
        flex-direction: column;
        align-items: center;
         
        input{
            width: 250px;
        }   
    }

   

    
    .top .right {
        flex: 1;
        font-size: 18px;
        gap: 20px;
    }

    .text { 
        font-size: 10px;
        display: flex;
        flex-direction: column;
        ul{
           
           margin-left: -40px;
           display: flex;
           font-size: 15px;
           padding: 40px;
        }
    }

    
}