.footer_section {
    background-color: #b16f23 !important;
    padding: 40px 0;
    font-family: 'Arial', sans-serif;
  }
  
  .footer_section .container-fluid {
    background-color: #b16f23 !important;
  }
  
  .footer_section input {
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .footer_section .btn {
    background-color: #ceaa82;
    border: none;
    color: #fff;
  }
  
  .footer_section .btn:hover {
    background-color: #d6dfb7;
  }
  
  .footer_section .social-icons {
    cursor: pointer;
    display: flex;
    gap: 15px;
    font-size: 24px;
  }
  
  .footer_section ul {
    padding-left: 0;
    list-style: none;
  }
  
  .footer_section ul a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer_section ul a:hover {
    color: #d6dfb7;
  }
  
  .footer_section li {
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .footer_section h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .footer_section .line {
    border-bottom: 1px solid #fff;
    margin: 20px 0;
  }
  
  .footer_section h3 {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .footer_section p {
    margin: 0;
  }
  
  .popup {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ceaa82;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }


  
  @media only screen and (max-width: 600px) {
    .footer_section {
      padding: 20px 0;
    }
  
    .footer_section h2 {
      font-size: 20px;
    }
  
    .footer_section input {
      max-width: 100%;
      margin-top: 10px;
    }
  
    .footer_section .social-icons {
      font-size: 20px;
      gap: 10px;
    }
  
    .footer_section .line {
      margin: 10px 0;
    }
  
    .footer_section h3 {
      font-size: 16px;
    }
  
    .footer_section p {
      font-size: 14px;
    }
  }
  