:root {
  --primary: #b16f23;
}


.container-fluid{


.mn{
  height: 30px;
}

.tst{
  height: 30px;
}



}

@media only screen and (max-width: 600px){
  .min .mn p{

font-size: 12px !important;

}

.min .tst p{
  font-size: 13px;
}
}