.actnt{
    margin-top: 60px;


    h2{
        margin-left:60px ;
        color:#b16f23;
    }
    .achil{
        display: flex;
        padding: 40px 40px 40px 80px;
        gap: 15px;
        .col{
            width: 400px;
            border: 2px solid #b16f23;
            height: 450px;
            border-radius: 10px;
            border-bottom: 12px solid #b16f23 ;
            
            #ics{
                margin-top: 25px;
                margin-left: 120px; 
            }
            
            #ict{
                margin-top: 25px;
                margin-left: 120px; 
            }
            #icd{
                margin-top: 25px;
                margin-left: 120px; 
            }

            h2{
                font-size: 26px;
                margin-left: 80px; 
                color: #b16f23;
            }
            p{
              font-size: 20px;
              text-align: center;
              padding-left: 40px;
              padding-right: 40px;
              word-spacing: 5px;
              padding-top: 20px;
              color: #b16f23;
            }
        }
        .icons{
            font-size: 60px;
        }
    }

    .aline{
        margin-top: 30px;
        border-bottom: 2px solid #b16f23;
        margin-bottom: 50px;
    }
    .rich-text-1{
        h2{
            font-size: 22px;
        }
        p{
            padding-left: 80px;
            padding-right: 80px;
            font-size: 18px;
            
           line-height: 30px;
        }
    }
    .rich-text-2{
        h2{
            font-size: 22px;
        }
        p{
            padding-left: 80px;
            padding-right: 60px;
            font-size: 18px;
            
            line-height: 35px;
        }
    }
    .btmline{
        border-bottom: 4px solid #b16f23;
        margin-bottom: 50px;
    }

}


@media only screen and (max-width: 600px) {
    .actnt{
        margin-top: 40px;
        margin-left: -70px;
       
        h2{
            color:#b16f23;
            font-size: 15px;
        }
        .achil{
            display: flex;
            padding: 40px 40px 40px 80px;
            flex-direction: column;
            gap: 15px;
            .col{
                width: 340px;
                border: 2px solid #b16f23;
                height: 400px;
                border-radius: 10px;
                border-bottom: 12px solid #b16f23 ;
                
                #ics{
                    margin-top: 25px;
                    margin-left: 150px;
                    color:#b16f23;  
                }
                
                #ict{
                    margin-top: 25px;
                    margin-left: 150px; 
                    color:#b16f23; 
                }
                #icd{
                    margin-top: 25px;
                    margin-left: 150px; 
                    color:#b16f23;
                }
    
                h2{
                    font-size: 26px;
                    margin-left: 110px;
                    color: #b16f23;
                }
                p{
                  font-size: 20px;
                  text-align: center;
                  padding-left: 40px;
                  padding-right: 40px;
                  word-spacing: 5px;
                  padding-top: 20px;
                  color: #b16f23;
                }
            }
            .icons{
                font-size: 60px;
            }
        }
    
        .aline{
            margin-top: 30px;
            border-bottom: 2px solid #b16f23;
            margin-bottom: 50px;
           
        }
        .rich-text-1{
            h2{
                font-size: 18px;
                padding-left: 20px;
            }
            p{
                padding-left: 80px;
                padding-right: 50px;
                font-size: 15px;
                
               line-height: 30px;
            }
        }
        .rich-text-2{
            h2{
                font-size: 18px;
                padding-left: 20px;
                
            }
            p{
                padding-left: 80px;
                padding-right: 50px;
                font-size: 15px;
                
                line-height: 35px;
            }
        }
        .btmline{
            border-bottom: 4px solid #b16f23;
            margin-bottom: 50px;
        }
    
    }}
