.parent{
background-color: #c37721;
height: 800px;
position: relative;

.child{
h2{
    position:absolute;
    left: 80px;
    font-size: 32px;
    top: 50px;
    color:#fefae0;
    font-family: sans-serif;
}

.colpro{
    position: absolute;
    top: 120px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 50px;
    padding-left: 80px;

    .pro{
        margin-top: 40px;
        width: 200px;
        height: 230px;
       
        img{
            width: 180px;
            height: 160px;
            border-radius: 10px;
        }

  .textlink{
   
    display: flex;
     align-items: center;
     color: #fefae0;
      justify-content: space-evenly;
      h3{
        font-size: 18px;
      }

      #fa{
        font-size: 18px;
        
      }
  }

        
    }

}


}
}


@media only screen and (max-width: 600px) {
    .parent{
        background-color: #c37721;
        height: 1300px;
        position: relative;
        
        .child{
        h2{
            position:absolute;
            left: 30px;
            font-size: 32px;
            top: 50px;
            color:#fefae0;
            font-family: sans-serif;
        }
        
        .colpro{
            position: absolute;
            top: 120px;
            display: grid;
            grid-template-columns: auto auto;
            gap: 50px;
            padding-left: 20px;
        
            .pro{
                margin-top: 40px;
                width: 150px;
                height: 190px;
               
                img{
                    width: 180px;
                    height: 160px;
                    border-radius: 10px;
                }
        
          .textlink{
           
            display: flex;
             align-items: center;
             color: #fefae0;
              justify-content: space-evenly;
              h3{
                font-size: 18px;
              }
        
              #fa{
                font-size: 18px;
                
              }
          }
        
                
            }
        
        }
        
        
        }
        }}