
@media only screen and (max-width: 600px){
  
  .cnt-fl{
    height: 1000px !important;
  }

  .cnt-fl .pct .box{
      img{
        width: 150px !important;
        height: 160px !important;
      }

      h5{
        font-size: 8px !important;
      }


  }

}





.parent{
background-color: #c37721;
height: 600px;
position: relative;

.child{
h2{
    position:absolute;
    left: 80px;
    font-size: 32px;
    top: 30px;
    color:#fefae0;
    font-family: sans-serif;
    
}

.colpro{
    position: absolute;
    top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 50px;
    padding-left: 80px;

    .pro{
        margin-top: 40px;
        width: 200px;
        height: 150px;
       
        img{
            width: 180px;
            height: 160px;
            border-radius: 10px;
        }

  .textlink{
   
    display: flex;
     align-items: center;
     color: #fefae0;
      justify-content: space-evenly;
      h3{
        font-size: 18px;
      }

      #fa{
        font-size: 18px;
        
      }
  }

        
    }

}


}
}


@media only screen and (max-width: 600px) {
    .parent{
      margin-left: -50px;
        background-color: #c37721;
        height: 900px;
        position: relative;
       
        .child{
        
          .colpro{
            grid-template-columns: auto auto;
            gap: 10px;
            
           
          }

          .pro{
            margin-top: 40px !important;
            width: 150px !important;
            height: 150px !important;}
          
          img{
            width: 150px !important;
            height: 120px !important;
            border-radius: 10px !important;
        }
        
        
        .textlink{
   
            h3{
              font-size: 15px !important;
            }
      
            #fa{
              font-size: 12px;
              
            }
        }
        }
        }}
        