.product-container{
    display: flex;
    flex-direction: row;

   .left{
        flex: 0.4;
        padding: 40px 80px 80px 80px;


        img{
           width: 450px;
         border-radius: 10px;
        }
   }

   .right{
         flex: 0.6;
             

         .gemc{
            width: 400px;
            display: flex;
            justify-content: space-between;   
            button{
                   width: 60px;
            }
         }

         button{
            width: 420px;
            height: 35px;
            margin-bottom: 20px;
            border-radius: 10px;
             border: 2px solid #b16f23 ;
             cursor: pointer;

         }

         .cl{
            display: flex;
            gap: 10px;
            align-items: center;
            width: 100px;
            height: 30px;
            border: 2px solid #b16f23;
            margin-bottom: 20px;
            justify-content: space-between;
            button{
             border: none;
             width: 0px;
             background-color: none;
            };
         }
   }


}

@media only screen and (max-width: 600px) {
   .product-container {
       flex-direction: column;
   }

   .product-container .left,
   .product-container .right {
       flex: 1;
   }

   .product-container .left {
       padding: 40px;
       text-align: center;
   }

   .product-container .left img {
       width: 60%;
   }

   .product-container .right {
       padding: 20px;
   }

   .product-container .right .gemc {
       width: 60%;
       flex-wrap: wrap;
   }

   .product-container .right button {
       width: 60%;
       margin-bottom: 10px;
   }

   .product-container .right .cl {
       width: 20%;
       justify-content: center;
   }
}