.product_section{
  background-color: #deb88c;
  padding: 0px 30px;
}

.product_rudraksh{
  background-color: #f2f2f2;
  padding: 0px 30px;
}



.product_box{
  min-height: 400px !important;
  height: 100% !important;
  transition: .7s;
  cursor: pointer;
 
}
.product_box:hover{
  
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
.product_box_home{
  min-height: 320px !important;
  height: 100% !important;
  transition: .7s;
  cursor: pointer;
}
.product_box_home:hover{
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.crd{
  padding: 0 !important;

  img{
    border-radius: 10px;
  }
}



.intro h2 {
  padding-top: 40px;
  color: #b16f23;
  margin-bottom: 10px;
  font-weight: 700;
}

.intro h3 {
  color: #b16f23;
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: 700;
}

.intro p {
  color: #b16f23;
  margin-bottom: 10px;
}

.intro ul {
  list-style-type: disc;
  margin-left: 20px;
}

.intro ul li {
  color: #b16f23;
  margin-bottom: 5px;
}

.intro ul li strong {
  color: #b16f23;
  font-weight: 900;
}


@media only screen and (max-width: 600px){
  .product_section{
  
    padding: 0px 10px;
  }

  .ct .ctr .cp .crd{
        
  

   img{
    border-radius: 5px;
    height: unset !important;
   }

    h5 a{ 
      width: 200px;
      font-size: 10px !important;
      word-spacing: -1px;
      line-height: -1px;
      line-height: 1; /* Adjust the line height */
      margin-bottom:-5px;
     
      
    }
    p{
      font-size: 8px !important;
      margin-bottom: 12px;
    }

    .logss{
      font-size: 6px !important;
      color:#B48811
    }
      
    button{
      
   
         font-size: 10px;
    }
  }
    .all-pro-img{
      height: unset !important;
    }
  }

  @media only screen and (max-width: 324px){
    button {
      
      font-size: 7px !important;
  }
    
  }